### Gradle ###
.gradle/
build/
out/
classes/

### Kotlin ###
.kotlin/

### Eclipse ###
*.launch

### IntelliJ IDEA ###
.idea/
*.iml
*.ipr
*.iws

### VS Code ###
.settings/
.vscode/
bin/
.classpath
.project

### macOS ###
*.DS_Store

### Fleet ###
.fleet/

### Other ###
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
*.gpg
*.env
*.log
